body{
  background-image: url('../assets/compass.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
}

.lander{
  width: 55%;
}

.jumbo-title{
  font-family: inherit;
  font-weight: 300;
  font-size: 65px;
}

.jumbo-intro{
  background-color: rgba(255, 255, 255, 0.67) !important;
  margin-top: 2rem;
  color: rgba(0, 0, 0, 0.69);
}

@media screen and (max-width: 815px){
  .lander{
    width: 100%;
  }

  .jumbo-title{
    font-size: 50px;
  }
}